<%-include('header')%>


     <div class="container-fluid mt-4">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800 ">Destination Category</h1>
          <br>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
               <div class="card-body">
                    <div class="table-responsive">

                         <% if(flash.success && flash.success.length> 0 ) { %>
                              <div class="alert alert-success">
                                   <%= flash.success %>
                              </div>
                              <% } %>
                                   <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                             <tr>
                                                  <th>No</th>
                                                  <th>Destination Category</th>
                                                  <th>Destinations</th>
                                                  <th>Country</th>
                                                  <th>Action</th>
                                             </tr>
                                        </thead>

                                        <tbody>
                                             <%var i=1; for(var u of destination){%>
                                                  <tr>
                                                       <td>
                                                            <%=i++%>
                                                       </td>
                                                       <td>
                                                            <%=u.destination_cateId.destination_cate%>
                                                       </td>
                                                       <td>
                                                            <%=u.destination%>
                                                       </td>
                                                       <td>
                                                            <%=u.country%>
                                                       </td>
                                                       <td>
                                                            <a href="/destination/Delete_dest/<%=u.id%>"
                                                                 class="d-inline-block text-decoration-none p-2 bg-danger text-white rounded">Delete</a>
                                                  <a href="/destination/Update_dest/<%=u.id%>" class="d-inline-block text-decoration-none p-2 bg-primary text-white rounded">Update</a>

                                                       </td>
                                                  </tr>
                                                  <%}%>
                                        </tbody>
                                   </table>

                    </div>
               </div>
          </div>

     </div>

     </div>
     <%-include('footer')%>